In [1]:
import pandas as pd

df = pd.read_csv('../../../results/gridsearch/EURUSD/mse_var_grid_1_best_hyp.csv')

In [2]:
df

   k   L   W   mse_abo   var_abo  mse_qrd   var_qrd  mse_krls  var_krls
0  0  30  90  1.168630  15.22540  1.55648  17.95810  1.142420  14.96190
1  1  30  90  0.832258   9.50720  1.49757  16.50600  0.822618   9.39171
2  2  30  90  1.053500   7.15875  1.38054   6.68895  1.050050   7.18771

In [3]:
summary = df.agg("mean")
summary

k            1.000000
L           30.000000
W           90.000000
mse_abo      1.018129
var_abo     10.630450
mse_qrd      1.478197
var_qrd     13.717683
mse_krls     1.005029
var_krls    10.513773
dtype: float64

In [4]:
g_abo = (
    df.groupby(["L", "W"], as_index=False)
      .agg(
          mse_mean=("mse_abo", "mean"),
          var_mean=("var_abo", "mean")
      )
)
best_abo_mse = g_abo.loc[g_abo["mse_mean"].idxmin()]
best_abo_mse

L           30.000000
W           90.000000
mse_mean     1.018129
var_mean    10.630450
Name: 0, dtype: float64