In [31]:
import pandas as pd

df = pd.read_csv('../../../results/gridsearch/EURUSD/best_test.csv')

In [35]:
import pandas as pd

df = pd.read_csv('../../../results/gridsearch/EURUSD/best_test_log2d11.csv')
df.groupby("model").mean()

,fold,L,W,sigma,D,mse,var,us_rff,us_update,s_rff,s_update
model,,,,,,,,,,,
ABO,2.0,20.0,21.0,8.0,2048.0,1.371112,1339.800850,620.7958,4249.0440,1.16089,7.945730
KRLS-RBF,2.0,20.0,421.0,3.2,0.0,1.355851,1335.342907,0.0000,7741.2160,0.00000,14.476080
QRD-RLS,2.0,20.0,272.0,NaN,0.0,2.329383,2494.012202,0.0000,58.9557,0.00000,0.110247

In [34]:
import pandas as pd

df = pd.read_csv('../../../results/gridsearch/EURUSD/best_test_log2d11_1.csv')
df.groupby("model").mean()

,fold,L,W,sigma,D,mse,var,us_rff,us_update,s_rff,s_update
model,,,,,,,,,,,
ABO,2.0,20.0,21.0,5.7,2048.0,1.365198,1331.672472,680.7298,3697.86400,1.272966,6.915002
KRLS-RBF,2.0,20.0,600.0,3.1,0.0,1.252016,1329.579070,0.0000,15820.60000,0.000000,29.584560
QRD-RLS,2.0,20.0,270.0,NaN,0.0,2.333554,2514.737800,0.0000,66.94388,0.000000,0.125185

In [32]:
df.groupby("model").mean()

,fold,L,W,sigma,D,mse,var,us_rff,us_update,s_rff,s_update
model,,,,,,,,,,,
ABO,2.0,30.0,31.0,8.0,2048.0,1.382043,1337.331923,811.6588,5523.0220,1.517802,10.328060
KRLS-RBF,2.0,30.0,421.0,3.2,0.0,1.355362,1335.342690,0.0000,9387.3600,0.000000,17.554340
QRD-RLS,2.0,30.0,272.0,NaN,0.0,2.956036,4270.113062,0.0000,90.3886,0.000000,0.169027

In [30]:
df.groupby("model").mean()

,fold,L,W,sigma,D,mse,var,us_rff,us_update,s_rff,s_update
model,,,,,,,,,,,
ABO,2.0,20.0,21.0,8.0,8192.0,1.358681,1331.626553,2710.054,26872.88000,5.067802,50.252300
KRLS-RBF,2.0,20.0,421.0,3.2,0.0,1.355851,1335.342907,0.000,17689.82000,0.000000,33.079940
QRD-RLS,2.0,20.0,272.0,NaN,0.0,2.329383,2494.012202,0.000,75.36592,0.000000,0.140934

In [28]:
df.groupby("model").mean()

,fold,L,W,sigma,D,mse,var,us_rff,us_update,s_rff,s_update
model,,,,,,,,,,,
ABO,2.0,20.0,21.0,8.0,2048.0,1.371112,1339.800850,607.5704,8746.75400,1.136158,16.356400
KRLS-RBF,2.0,20.0,326.0,5.6,0.0,1.351157,1335.257960,0.0000,11333.86000,0.000000,21.194380
QRD-RLS,2.0,20.0,272.0,NaN,0.0,2.329383,2494.012202,0.0000,71.23104,0.000000,0.133202

In [24]:
df.groupby("model").mean()

,fold,L,W,sigma,D,mse,var,us_rff,us_update,s_rff,s_update
model,,,,,,,,,,,
ABO,2.0,20.0,26.0,9.70311,8192.0,1.357862,1334.970877,3039.048,40734.24000,5.68302,76.173120
KRLS-RBF,2.0,20.0,600.0,3.06046,0.0,1.252020,1329.579543,0.000,25372.34000,0.00000,47.446300
QRD-RLS,2.0,20.0,272.0,NaN,0.0,2.329383,2494.012202,0.000,63.26054,0.00000,0.118297

In [18]:
import pandas as pd

df = pd.read_csv('../../../results/gridsearch/EURUSD/best_test_window.csv')
df.groupby(["model"]).mean()

,fold,L,W,sigma,D,mse,var,us_rff,us_update,s_rff,s_update
model,,,,,,,,,,,
ABO,2.0,20.0,21.0,8.0,2048.0,1.371112,1339.800850,624.742,6900.11000,1.16827,12.903226
KRLS-RBF,2.0,20.0,600.0,3.6,0.0,1.251966,1329.578240,0.000,22544.24000,0.00000,42.157720
QRD-RLS,2.0,20.0,272.0,NaN,0.0,2.329383,2494.012202,0.000,68.97024,0.00000,0.128975

In [10]:
df.groupby(["model"]).mean()

,fold,L,W,sigma,D,mse,var,us_rff,us_update,s_rff,s_update
model,,,,,,,,,,,
ABO,2.0,20.0,26.0,9.70311,8192.0,1.357862,1334.970877,3039.048,40734.24000,5.68302,76.173120
KRLS-RBF,2.0,20.0,600.0,3.06046,0.0,1.252020,1329.579543,0.000,25372.34000,0.00000,47.446300
QRD-RLS,2.0,20.0,272.0,NaN,0.0,2.329383,2494.012202,0.000,63.26054,0.00000,0.118297

In [7]:
df.groupby(["model"]).mean()

,fold,L,W,sigma,D,mse,var,us_rff,us_update,s_rff,s_update
model,,,,,,,,,,,
ABO,2.0,20.0,26.0,9.70311,2048.0,1.376197,1335.303197,722.6168,28728.3920,1.35129,53.721980
KRLS-RBF,2.0,20.0,600.0,3.06046,0.0,1.252020,1329.579543,0.0000,32394.6800,0.00000,60.578080
QRD-RLS,2.0,20.0,272.0,NaN,0.0,2.329383,2494.012202,0.0000,65.0591,0.00000,0.121661

In [25]:
import pandas as pd

df = pd.read_csv('../../../results/gridsearch/EURUSD/best_test_short_window.csv')

In [26]:
df.groupby(["model"]).mean()

,fold,L,W,sigma,D,mse,var,us_rff,us_update,s_rff,s_update
model,,,,,,,,,,,
ABO,2.0,20.0,21.0,1.0,16384.0,1.359239,1.336801e+03,6116.886,51731.00000,11.43858,96.736940
KRLS-RBF,2.0,20.0,21.0,1.0,0.0,1.358013,1.335204e+03,0.000,41.49938,0.00000,0.077604
QRD-RLS,2.0,20.0,21.0,NaN,0.0,13620.078200,1.591940e+11,0.000,35.05932,0.00000,0.065561

In [17]:
df.groupby(["model"]).mean()

,fold,L,W,sigma,D,mse,var,us_rff,us_update,s_rff,s_update
model,,,,,,,,,,,
ABO,2.0,20.0,26.0,1.0,16384.0,1.361053,1.336979e+03,6401.364,56478.46000,11.97054,105.614800
KRLS-RBF,2.0,20.0,26.0,1.0,0.0,1.359097,1.334980e+03,0.000,35.23420,0.00000,0.065888
QRD-RLS,2.0,20.0,26.0,NaN,0.0,2572.945060,5.750863e+09,0.000,26.54276,0.00000,0.049635

In [13]:
df.groupby(["model"]).mean()

,fold,L,W,sigma,D,mse,var,us_rff,us_update,s_rff,s_update
model,,,,,,,,,,,
ABO,2.0,20.0,26.0,9.7,8192.0,1.357978,1.334955e+03,2728.598,18337.24000,5.102478,34.290680
KRLS-RBF,2.0,20.0,26.0,9.7,0.0,1.354583,1.335192e+03,0.000,43.71598,0.000000,0.081749
QRD-RLS,2.0,20.0,26.0,NaN,0.0,2572.945060,5.750863e+09,0.000,23.59826,0.000000,0.044129

In [14]:
import pandas as pd

df = pd.read_csv('../../../results/gridsearch/EURUSD/best_test_lomg_window.csv')

In [15]:
df.groupby(["model"]).mean()

,fold,L,W,sigma,D,mse,var,us_rff,us_update,s_rff,s_update
model,,,,,,,,,,,
ABO,2.0,20.0,600.0,0.27,2048.0,40.710950,24687.727500,767.2152,89189.96000,1.434694,166.785000
KRLS-RBF,2.0,20.0,600.0,3.06,0.0,1.252020,1329.579543,0.0000,18829.40000,0.000000,35.210980
QRD-RLS,2.0,20.0,272.0,NaN,0.0,2.329383,2494.012202,0.0000,57.00158,0.000000,0.106593

In [8]:
g_abo = (
    df.groupby(["L", "W"], as_index=False)
      .agg(
          mse_mean=("mse_abo", "mean"),
          var_mean=("var_abo", "mean")
      )
)
best_abo_mse = g_abo.loc[g_abo["mse_mean"].idxmin()]
best_abo_mse

L            30.000000
W            90.000000
mse_mean      1.187978
var_mean    204.434467
Name: 3, dtype: float64

In [9]:
df

,k,L,W,mse_abo,var_abo,mse_qrd,var_qrd,mse_krls,var_krls
0,0,15,90,1.429900,29.94640,1.89590,4.569370e+01,1.415990,29.32260
1,0,15,120,1.450410,29.79320,1.78952,4.265740e+01,1.423640,28.79090
2,0,15,240,1.365040,30.36010,1.51533,3.497890e+01,1.323760,28.88850
3,0,30,90,1.410150,28.51070,2.31715,4.869310e+01,1.406440,29.13020
4,0,30,120,1.407550,28.22780,2.03844,4.407240e+01,1.411190,29.13790
5,0,30,240,1.336800,28.16700,1.61917,3.421600e+01,1.310430,28.96510
6,0,60,90,1.447340,29.92330,5.69761,4.204420e+02,1.411010,29.21210
7,0,60,120,1.414200,29.85450,3.73085,2.648800e+02,1.377090,29.18870
8,0,60,240,1.376130,31.19580,2.16397,6.639850e+01,1.310950,29.06520
9,1,15,90,0.897410,9.86024,1.14420,1.998000e+01,0.879595,9.97708
10,1,15,120,0.899798,10.40420,1.06434,1.664100e+01,0.880493,10.30780
11,1,15,240,1.081160,40.59120,1.14258,3.889110e+01,1.039040,40.61440
12,1,30,90,0.894324,10.38570,1.47692,2.374600e+01,0.883806,10.60460
13,1,30,120,0.872451,10.01940,1.24801,1.828550e+01,0.858996,10.52340
14,1,30,240,1.005790,34.99340,1.23030,3.914360e+01,0.994724,36.07520
15,1,60,90,0.870520,10.60820,3.56546,1.061460e+02,0.856674,10.47330
16,1,60,120,0.872606,10.71000,1.92575,2.799280e+01,0.853312,10.49040
17,1,60,240,1.006400,33.02720,1.55141,4.163380e+01,0.976009,33.72200
18,2,15,90,1.421950,601.15100,8.72027,9.360000e+03,1.380340,599.28600
19,2,15,120,1.404740,581.00700,3.80843,1.427710e+03,1.349290,580.93500
20,2,15,240,1.430040,495.53200,2.58847,7.655610e+02,1.319880,520.31500
21,2,30,90,1.259460,574.40700,26.28650,4.734530e+04,1.245110,572.85500
22,2,30,120,1.288860,561.25400,8.78164,4.788360e+03,1.271790,561.36300
23,2,30,240,1.307560,540.70300,4.57968,1.424200e+03,1.263560,540.62400
24,2,60,90,1.274130,561.95400,177.41800,1.971090e+06,1.257870,560.35100
25,2,60,120,1.293890,559.43400,33.98020,5.430430e+04,1.278890,559.71500
26,2,60,240,1.305160,538.66100,15.58860,1.033350e+04,1.263180,538.08800

In [ ]:
2.5395787230535736

In [5]:
import numpy as np
mat = np.array([[1.0334234830458069, 2.3892305839312686, 1.2960075077497344],
                 [0.22293667181765062, -0.57553402376446494, -0.86918149008463641],
                 [-0.10573676701883815, 2.3706479898991262, 0.36469989980591078],
                 [0.12360890966124705, 2.5395787230535736, 1.4815887374469103]])

In [3]:
c = 0.99894330049030156
s = 0.045959573600533918
val_1 = 1.0334234830458069
val_2 = 1.2960075077497344
val_1 * c - val_2 * s

0.9727675125186931

In [10]:
c = 0.99894330049030156
s = 0.045959573600533918
val_1 = mat[0,0]
val_2 = mat[0, 2]
neg_func_1 = lambda c, s, val_1, val_2: val_1 * c - val_2 * s
pos_func_2 = lambda c, s, val_1, val_2: val_2 * c + val_1 * s
neg_func_1(c, s, val_1, val_2), pos_func_2(c, s, val_1, val_2)

(0.9727675125186931, 1.3421337198812937)

In [12]:
for i in range(4):
    val_1 = mat[i,0]
    val_2 = mat[i, 2]
    temp_1 = neg_func_1(c, s, val_1, val_2)
    temp_2 = pos_func_2(c, s, val_1, val_2)
    print(temp_1, temp_2)

0.9727675125186931 1.3421337198812937
0.26264830541161366 -0.8580169520535637
-0.12238648691620935 0.359454904874514
0.05538510556260025 1.4857041561357334