In [27]:
import pandas as pd

df = pd.read_csv('../../../results/gridsearch/electricity/best_test.csv')

In [31]:
df = pd.read_csv('../../../results/gridsearch/EURUSD/best_test_log2d11.csv')
df.groupby(["model"]).mean()

,fold,L,W,sigma,D,mse,var,us_rff,us_update,s_rff,s_update
model,,,,,,,,,,,
ABO,2.0,20.0,21.0,6.5,2048.0,1.018929,10.856668,749.2078,5837.61000,0.969475,7.553864
KRLS-RBF,2.0,20.0,761.0,3.1,0.0,1.010897,10.873588,0.0000,29651.04000,0.000000,38.368420
QRD-RLS,2.0,20.0,272.0,NaN,0.0,0.952081,9.062206,0.0000,60.29832,0.000000,0.078026

In [35]:
df = pd.read_csv('../../../results/gridsearch/electricity/best_test_log2d11.csv')
df.groupby(["model"]).mean()

,fold,L,W,sigma,D,mse,var,us_rff,us_update,s_rff,s_update
model,,,,,,,,,,,
ABO,2.0,20.0,21.0,6.5,2048.0,1.018929,10.856668,749.2078,5837.61000,0.969475,7.553864
KRLS-RBF,2.0,20.0,761.0,3.1,0.0,1.010897,10.873588,0.0000,29651.04000,0.000000,38.368420
QRD-RLS,2.0,20.0,272.0,NaN,0.0,0.952081,9.062206,0.0000,60.29832,0.000000,0.078026

In [34]:
df = pd.read_csv('../../../results/gridsearch/EURUSD/best_test_log2d11_1.csv')
df.groupby(["model"]).mean()

,fold,L,W,sigma,D,mse,var,us_rff,us_update,s_rff,s_update
model,,,,,,,,,,,
ABO,2.0,20.0,21.0,5.7,2048.0,1.018361,11.136628,731.8986,3882.48200,0.947077,5.023930
KRLS-RBF,2.0,20.0,761.0,3.1,0.0,1.010897,10.873588,0.0000,29083.80000,0.000000,37.634440
QRD-RLS,2.0,20.0,270.0,NaN,0.0,0.951745,9.036812,0.0000,68.16364,0.000000,0.088204

In [28]:
df.groupby(["model"]).mean()

,fold,L,W,sigma,D,mse,var,us_rff,us_update,s_rff,s_update
model,,,,,,,,,,,
ABO,2.0,20.0,21.0,6.50586,8192.0,1.009646,10.921352,3582.508,36826.96000,4.635768,47.654100
KRLS-RBF,2.0,20.0,761.0,3.06046,0.0,1.010968,10.873646,0.000,46974.86000,0.000000,60.785480
QRD-RLS,2.0,20.0,272.0,NaN,0.0,0.952081,9.062206,0.000,68.73786,0.000000,0.088947

In [20]:
df.iloc[205]

timestamp    2026-01-17T17:11:31
trial                        205
lags                          22
window                       235
sigma                   8.410543
mean_mse                 9.53941
mean_var                 62.2897
objective                9.53941
Name: 205, dtype: object

In [5]:
df.mean()

k               1.000000
s               6.500000
L              84.000000
W              95.000000
mse_abo         1.001567
var_abo        10.431477
mse_qrd        14.610127
var_qrd      3474.182333
mse_krls        0.993672
var_krls       10.505813
us_rff      11002.250000
us_abo      65086.433333
us_qrd       9386.136667
us_krls      1748.706667
dtype: float64

In [ ]:
# complexities:
df_mean = df.mean()
W_2 = df_mean["W"]**2
W_L = df_mean["W"]*df_mean["L"]


rff = 2**11
W_rff = rff*df_mean["W"]

In [12]:
W_rff, W_L

(194560.0, 7980.0)

In [13]:
rff_time = df_mean["us_rff"] + df_mean["us_abo"]
qrdrls_time = df_mean["us_qrd"]
krls_time = df_mean["us_krls"]

In [18]:
rff_time/W_rff , qrdrls_time/W_L, krls_time/W_2

(0.08624583675986841, 0.43818838763575607, 0.14109710064635275)

In [16]:
g_abo = (
    df.groupby(["lags", "window","sigma"], as_index=False)
      .agg(
          mse_mean=("mean_mse", "mean"),
          var_mean=("mean_var", "mean")
      )
)
best_abo_mse = g_abo.loc[g_abo["mse_mean"].idxmin()]
best_abo_mse

lags         22.000000
window      235.000000
sigma         8.410543
mse_mean      9.539410
var_mean     62.289700
Name: 60, dtype: float64

In [14]:
g_abo["mse_mean"].idxmin()

60

In [15]:
g_abo.iloc[60]

lags         22.000000
window      235.000000
sigma         8.410543
mse_mean      9.539410
var_mean     62.289700
Name: 60, dtype: float64