In [2]:
import pandas as pd

df = pd.read_csv('../../../results/gridsearch/mse_var_grid_1_best_hyp.csv')

In [3]:
df

   k   L    W   mse_abo  var_abo   mse_qrd   var_qrd  mse_krls  var_krls
0  0  48  128  1.251970  13.7528  1.613320   9.61812  1.234670  13.71160
1  1  48  128  1.422180  20.8174  1.200900  12.34730  1.374830  20.13640
2  2  48  128  0.674379  10.2536  0.894495   8.63657  0.646407   9.98319

In [4]:
summary = df.agg(["mean"])
summary

,k,L,W,mse_abo,var_abo,mse_qrd,var_qrd,mse_krls,var_krls
mean,1.0,48.0,128.0,1.116176,14.941267,1.236238,10.200663,1.085302,14.610397

In [5]:
g_abo = (
    df.groupby(["L", "W"], as_index=False)
      .agg(
          mse_mean=("mse_abo", "mean"),
          var_mean=("var_abo", "mean")
      )
)
best_abo_mse = g_abo.loc[g_abo["mse_mean"].idxmin()]
best_abo_mse

L            48.000000
W           128.000000
mse_mean      1.116176
var_mean     14.941267
Name: 0, dtype: float64